# Results
Di Tuccio Gianluca, Orsini Lorenzo

In [1]:
from tqdm import tqdm
from z3 import *
from numpy import random
import os
import pandas as pd
from utils.utils import *

## Models without Rotation
Let's have a look on some statistics about the four models:

In [21]:
results = pd.read_csv('utils/datasets/results.csv').replace(np.nan, 'N/A')
results = results.reset_index(drop=True)
results = results.set_index("Instance")
results.applymap(lambda x: int(x) if x !='N/A' else x).style.apply(highlight_h_min, axis=1)

In [33]:
results = pd.DataFrame()
results['Instance'] = pd.read_csv('utils/datasets/CP_time.csv')['Instance']
results['CP + SB w/out R'] = pd.read_csv('utils/datasets/CP_time.csv')['Chuffed + SB']
results['SAT + SB w/out R'] = pd.read_csv('utils/datasets/SAT_time.csv')['SAT + SB w/out R']
results['SMT + SB w/out R'] = pd.read_csv('utils/datasets/SMT_time.csv')['SMT + SB w/out R']
results['MIP w/out SB w/out R'] = pd.read_csv('utils/datasets/MIP_time.csv')['MIP w/out SB w/out R']
Statistics({'CP + SB w/out R':results['CP + SB w/out R'],
            'SAT + SB w/out R':results['SAT + SB w/out R'],
            'SMT + SB w/out R':results['SMT + SB w/out R'],
            'MIP w/out SB w/out R':results['MIP w/out SB w/out R']})

TIMEOUT is seen as 300s.

Non Optimal solution has required 300s.

+---------------------------------+-----------------+------------------+------------------+----------------------+
|                                 | CP + SB w/out R | SAT + SB w/out R | SMT + SB w/out R | MIP w/out SB w/out R |
+---------------------------------+-----------------+------------------+------------------+----------------------+
|          Total Time [s]         |         491.659 |          993.825 |         2060.039 |             2483.743 |
|             Max [s]             |           300.0 |            300.0 |            300.0 |                300.0 |
|             Min [s]             |           0.161 |            0.043 |            0.035 |                0.002 |
|             Mean [s]            |          12.291 |           24.846 |           51.501 |               62.094 |
|             Std [s]             |          48.287 |           71.622 |           99.084 |              111.832 |
| Instances Solved with H optimal |           39/40 |            38/40 |            35/40 |                34/40 |
+---------------------------------+-----------------+------------------+------------------+----------------------+

## Models with Rotation

In [24]:
results = pd.read_csv('utils/datasets/results_rotation.csv').replace(np.nan, 'N/A')
results = results.reset_index(drop=True)
results = results.set_index("Instance")
results.applymap(lambda x: int(x) if x !='N/A' else x).style.apply(highlight_h_min, axis=1)

In [34]:
results = pd.DataFrame()
results['Instance'] = pd.read_csv('utils/datasets/CP_rotation_time.csv')['Instance']
results['CP w/out SB + R'] = pd.read_csv('utils/datasets/CP_rotation_time.csv')['Chuffed w/out SB']
results['SAT + SB + R'] = pd.read_csv('utils/datasets/SAT_time.csv')['SAT + SB + R']
results['SMT + SB + R'] = pd.read_csv('utils/datasets/SMT_time.csv')['SMT + SB + R']
results['MIP + SB + R'] = pd.read_csv('utils/datasets/MIP_time.csv')['MIP w/out SB + R']
Statistics({'CP w/out SB + R':results['CP w/out SB + R'],
            'SAT + SB + R':results['SAT + SB + R'],
            'SMT + SB + R':results['SMT + SB + R'],
            'MIP + SB + R':results['MIP + SB + R']})

TIMEOUT is seen as 300s.

Non Optimal solution has required 300s.

+---------------------------------+-----------------+--------------+--------------+--------------+
|                                 | CP w/out SB + R | SAT + SB + R | SMT + SB + R | MIP + SB + R |
+---------------------------------+-----------------+--------------+--------------+--------------+
|          Total Time [s]         |        2001.613 |     2433.407 |     3870.686 |     4870.363 |
|             Max [s]             |           300.0 |        300.0 |        300.0 |        300.0 |
|             Min [s]             |           0.163 |        0.134 |        0.047 |        0.002 |
|             Mean [s]            |           50.04 |       60.835 |       96.767 |      121.759 |
|             Std [s]             |          94.943 |      101.056 |      134.332 |      141.875 |
| Instances Solved with H optimal |           37/40 |        36/40 |        29/40 |        26/40 |
+---------------------------------+-----------------+--------------+--------------+--------------+